aws==0.2.5
bcrypt==3.2.2
boto==2.49.0
boto3==1.24.7
botocore==1.27.7
cffi==1.15.0
click==8.0.4
colorama==0.4.4
cryptography==37.0.2
cycler==0.11.0
decouple==0.0.7
distlib==0.3.4
dnspython==2.2.1
email-validator==1.2.1
fabric==2.7.0
filelock==3.6.0
Flask==2.0.3
Flask-Login==0.6.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
fonttools==4.33.3
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
invoke==1.7.1
is-disposable-email==1.0.0
itsdangerous==2.1.1
Jinja2==3.0.3
jmespath==1.0.0
kiwisolver==1.4.2
MarkupSafe==2.1.0
matplotlib==3.5.2
numpy==1.22.3
packaging==21.3
pandas==1.4.2
paramiko==2.11.0
pathlib2==2.3.7.post1
Pillow==9.1.1
platformdirs==2.5.2
prettytable==3.3.0
psycopg2==2.9.3
pycparser==2.21
PyMySQL==1.0.2
PyNaCl==1.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.6
pytz==2022.1
s3transfer==0.6.0
scipy==1.8.1
seaborn==0.11.2
six==1.16.0
SQLAlchemy==1.4.36
urllib3==1.26.9
virtualenv==20.14.1
wcwidth==0.2.5
Werkzeug==2.0.3
WTForm==1.0
WTForms==3.0.1
wtforms-validators==1.0.0
