{%extends "layout.html"%}
{% block content %}
<main>
<div class="contenedor_is">
<Section class="sombra iniciosesion">
    <h2>Olvide mi contraseña</h2>
    <form action="#" method="post">
      {{form.hidden_tag()}}
       <fieldset>
           
        <legend>Ingresa tus Correo</legend>

        <div class="inicioform">
        
        <div class="campo">
          <!-- <label>Cuenta </label>-->
            {{form.email(placeholder="Correo electrónico")}}
        </div>
        <div>
            {{form.submit(class="boton" , type="submit" , value="Enviar correo")}}
        </div>
       </fieldset> 
    </form>
</Section>
</div>

</main>

<footer>
<p>Todos los derechos reservados Juan Sebastian Ortiz Castro y Fernando Sanchez Ortega</p>
</footer>
{% endblock %}