{%extends "layout.html"%}
{% block content %}
    <main class="centrar-texto">
        <h1>Nuestros productos</h1>
        <div class="grid">
            <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/1.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">VueJS</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/2.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">AgularJs</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/3.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">ReactJs</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/4.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Redux</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/5.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Node.js</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/6.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">SASS</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/7.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Html5</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/8.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">GitHub</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/9.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Bulma</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/10.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">TypeScript</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/11.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Drupal</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/12.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">JavaScript</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/13.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">GraphQL</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="producto">
                <a href="{{url_for('producto')}}">

                     <img class="producto__imagen" src="static/img/14.jpg" alt="imagen">
                     <div class="producto__informacion">
                        <p class="producto__informacion">Word Press</p>
                        <p class="producto__precio">$25</p>
                     </div>
                 </a>
             </div><!--fin de producto  -->

             <div class="grafico grafico--camisas"></div>
             <div class="grafico grafico--node"></div>
        </div>
        
    </main>

</body>
</html>
{% endblock %}